/***************** General *****************/
body{
    background-image: url('media/images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #A5E9F7;
}
h1{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 48px;
    margin:0;
    padding: 10px;
    color: #EFA052;
}
p{
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    padding: 10px;
}
#page{
    background-color: white;
    margin: 0 15%;
    border-radius: 20px;
}
/***************** Header *****************/
#cjlogo{
    border-radius: 70%;
    width: 13vh;
}
#logo{
    color: #337A96;
    font-family: 'Fredoka One', cursive;
    font: 24px;
    text-align: center;
}
#navbar{
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    list-style: none;
    background:#A5E9F7;
    border-radius: 10px;
    justify-content:space-evenly ;
    margin: 0 15%;
}
.navli{
    font-family: 'Balsamiq Sans', cursive;
    float: left;
    text-align: center;
    font-size: 24px;
    color: white;
    margin: 0 5%;
    padding: 10px 10px;
}
/***************** Home Page *****************/
#tutorial-video{
    padding-left: 10px;
}
#cj{
    width: 30vh;
}
#videosection{
    margin: auto;
}
/***************** Fish Page *****************/
